<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - NewsWeb</title>
    <base href="~/" />
    <link href="~/fonts/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Encode+Sans+Condensed:wght@100&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="~/css/style.css" rel="stylesheet" />
    <link href="~/fonts/css/fontawesome.min.css" rel="stylesheet" />
    <link rel="icon" href="~/img/icon/chart.png" />
    <link href="//cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css" rel="stylesheet" />

</head>
<body>
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v7.0&appId=635098977109180&autoLogAppEvents=1" nonce="YAxs4qhN"></script>
    <header class="top-nav mb-2">
        <nav class="navbar navbar-expand-sm navbar-light bg-white navbar-toggleable-sm position-fixed" style="width: 100%; z-index: 1000">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index" style="font-size: 16px;">BraOuiPress</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse"
                        aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="navbar-collapse collapse d-sm-inline-flex " id="exCollapsingNavbar2">
                    <span class="position-absolute">
                        <partial name="_LoginPartial" />
                    </span>
                    <ul class="navbar-nav flex-grow-1">
                        @(await Html.RenderComponentAsync<Navigation>( RenderMode.ServerPrerendered))
                        @if (User.IsInRole(RoleName.AdminsRole))
                        {
                            <li class="nav-item">
                                <a class="nav-link" asp-action="users" asp-controller="management">
                                    Users
                                </a>
                            </li>
                        }
                        @if (User.IsInRole(RoleName.EditorRole))
                        {
                            <li class="nav-item">
                                <a class="nav-link" asp-action="articles" asp-controller="management">
                                    Articles
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-action="comments" asp-controller="management">
                                    Comments
                                </a>
                            </li>
                        }

                        <li class="nav-item position-relative" onclick="searchModel()">
                            <span class="btn position-absolute" style="background: #007bff;color: #fff;width: 40px;left: 10px;top: 5px">
                                <i class="fa fa-search"></i>
                            </span>
                        </li>
                    </ul>
                    <div class="bg-light hidden" id="search-model" style="">
                        <div id="search-model">
                            <form class="ml-auto mr-9" asp-action="Search" asp-controller="Home">
                                <input class="mt-3 ml-2" type="text" name="query" maxlength="64" placeholder="Search" />
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <div class="container" style="margin-top: 62px">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <footer class="container position-absolute bg-gray" style="bottom: 10px; margin: 0 10em;">
        <ul class="list-group-horizontal list-group">
            <li class="list-group-item">&copy; BraOuiPress @DateTime.Now.Year</li>
            <li class="list-group-item">
                <a asp-action="Contact" asp-controller="administration">Contact Us</a>
            </li>
            <li class="list-group-item">
                <a asp-action="Team" asp-controller="administration">Equipe de travail</a>
            </li>
        </ul>
    </footer>

    <script src="_framework/blazor.server.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script>
        function searchModel() {
            $('#search-model').css({
                'position': 'absolute',
                'width': '230px',
                'height': '70px',
                'right': '408px',
                'top': '55px'
            });
            $('#search-model').toggle();
        }
    </script>
    @RenderSection("Scripts", required: false)
</body>
</html>
