@page
@model RegisterModel
@using BLL;
@{
    ViewData["Title"] = "Register";
}
<link href="~/css/register.css" rel="stylesheet" />

@if (User.IsInRole(RoleName.AdminsRole))
{
    <div class="main">
        <div class="main-w3l">
            <div class="w3layouts-main">
                <span class="h3">Register now</span>
                <div asp-validation-summary="All" class="text-danger"></div>
                <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
                    <input type="text" asp-for="Input.FirstName" placeholder="First Name">
                    <span asp-validation-for="Input.FirstName" class="text-danger"></span>

                    <input type="text" asp-for="Input.LastName" placeholder="Last Name">
                    <span asp-validation-for="Input.LastName" class="text-danger"></span>

                    <input type="email" asp-for="Input.Email" placeholder="Email">
                    <span asp-validation-for="Input.Email" class="text-danger"></span>

                    <input type="text" asp-for="Input.PhoneNumber" placeholder="Phone Number">
                    <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>

                    <input type="password" asp-for="Input.Password" placeholder="Password">
                    <span asp-validation-for="Input.Password" class="text-danger"></span>

                    <input type="password" asp-for="Input.ConfirmPassword" placeholder="Confirm Password">
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>

                    <select class="form-control mb-4" name="rolesname" style="color: #fff;background: rgba(0, 0, 0, 0.2)">
                        <option>Select Role----</option>
                        <option value="@RoleName.EditorRole">@RoleName.EditorRole</option>
                        <option value="@RoleName.AdminsRole">@RoleName.AdminsRole</option>
                        <option value="@RoleName.WritersRole">@RoleName.WritersRole</option>
                    </select>

                    <input type="submit" value="Register">
                </form>
            </div>
        </div>
    </div>
}

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
        $('body').css('background', 'linear-gradient(to right,#0265df,#3e8dda)');
        function togglePw() {
            let txtPw = document.getElementById("txtPw"),
                eyePw = document.getElementById("eyePw");

            if (txtPw.type === "password") {
                txtPw.type = "text";
                eyePw.className = "fas fa-eye-slash";
            } else {
                txtPw.type = "password";
                eyePw.className = "fas fa-eye";
            }
        }
        function toggleCPw() {
            let txtCPw = document.getElementById("txtCPw"),
                eyeCPw = document.getElementById("eyeCPw");

            if (txtCPw.type === "password") {
                txtCPw.type = "text";
                eyeCPw.className = "fas fa-eye-slash";
            } else {
                txtCPw.type = "password";
                eyeCPw.className = "fas fa-eye";
            }
        }
    </script>
}