@model ArticleCommentsViewModel
@inject ArticleService articleService
@inject CategoryService categoryService

@{
    ViewData["Title"] = Model.Article.Titre;
    var text = Model.Article.Content;
    var para = text.Split(".");
    string date = Model.Article.PublishedAt.ToString("dd/MMMM/yyyy H:mm");
    string id = Model.Article.Id;
}

<div class="row">
    <div class="col-lg-8 col-md-12 bg-white" style="padding: 20px 15px">
        <div class="shadow-sm mb-2">
            <div style="padding: 0 15px">
                <p class="titre-article">
                    @Html.DisplayFor(model => model.Article.Titre)
                </p>

                <div class="row alert alert-info">
                    <div class="col-sm name-time-category">
                        <i class="fa fa-user-edit">
                        </i>@Html.DisplayFor(model => model.Article.AppUser.FullName)
                    </div>
                    <div class="col-sm name-time-category" style="font-size: 12px">
                        <i class="fa fa-clock"></i>

                        <span>   @Html.DisplayFor(model => @date)</span>
                    </div>
                    <div class="col-sm name-time-category">
                        <i class="fa fa-tags"></i>
                        <a asp-action="@Model.Category.Name" asp-controller="Home" style="color: black;">
                            @Html.DisplayFor(model => model.Category.Name)
                        </a>
                    </div>
                    <div class="col-sm name-time-category">
                        @(await Html.RenderComponentAsync<Ratings>(RenderMode.ServerPrerendered, new { Id = Model.Article.Id }))
                    </div>
                </div>
                @*<partial name="~/Views/_SocialMedia.cshtml" />*@

                <div>
                    <img src="~/img/@Model.Article.ImageUrl" alt="@Model.Article.ImageUrl" style="width: 100%; margin: 0 auto" />
                </div>
                <div class="article-content">
                    @{ int i = 0;}
                    <p style="font-family: Georgia,Times,'Times New Roman',serif !important;">
                        @foreach (var item in para)
                        {
                            if (i == 0)
                            {
                            <p style="line-height: 1.6">
                                @if (item != "")
                                {
                                    <strong>@item.</strong>
                                }
                            </p>
                            { i++; }
                        }
                        else
                        {
                            <p class="article-detail">
                                @if (item != "")
                                    @item .
                            </p>
                        }
                    }
                        </p>
                    </div>

                    <div class="row social-media">
                        <div class="btn col-sm fb">
                            <i class="fab fa-facebook"></i>
                            <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Flocalhost%3A44315%2Farticles%2Fdetails%2F@id&amp;src=sdkpreparse"
                               class="fb-xfbml-parse-ignore">Share</a>
                        </div>
                        <div class="btn col-sm linkedin">
                            <i class="fab fa-linkedin"></i>
                            <a target="_blank" href="https://www.linkedin.com/sharing/share-offsite/?url=https://localhost:44315/articles/details/@id">Linkedin</a>
                        </div>
                        <div class="btn col-sm twitter">
                            <i class="fab fa-twitter"></i>
                            <a target="_blank" href="https://twitter.com/share?ref_src=https://localhost:44315/articles/details/@id" data-show-count="false">Tweet</a>
                        </div>
                        <div class="btn col-sm google-plus">
                            <i class="fab fa-google-plus"></i>
                            <a target="_blank" href="whatsapp://send?text=https://localhost:44315/articles/details/@id" data-action="share/whatsapp/share">Whatsapp</a>
                        </div>
                    </div>

                </div>

                @if (User.Identity.IsAuthenticated)
                {
                    <hr class="bg-info" />
                    <div class="row">
                        @if (User.IsInRole(RoleName.WritersRole))
                        {
                            <div class="col-6 offset-2 mb-3">
                                <span class="btn btn-info btn-sm btn-block">
                                    <a class="text-white" asp-action="edit" asp-route-id="@Model.Article.Id">Edit</a>
                                </span>
                            </div>
                        }
                        @if (User.IsInRole(RoleName.EditorRole))
                        {
                            <div class="col-6 offset-2 mb-3">
                                <span class="btn btn-danger btn-sm btn-block">
                                    <a data-toggle="modal" data-target="#deleteModal" style="cursor: pointer">Delete</a>
                                </span>
                            </div>
                        }
                    </div>


                    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">

                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">@Model.Article.Titre</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    êtes-vous sûr de vouloir supprimer cet article
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <form asp-action="Delete" asp-route-id="@Model.Article.Id">
                                        <input type="submit" class="btn btn-danger" value="Delete" />
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                }

            </div>
            <div class="container">
                @(await Html.RenderComponentAsync<CommentForm>(RenderMode.ServerPrerendered, new { Id = Model.Article.Id }))
            </div>
        </div>

        <div class="aside px-2 col-lg-4 col-md-3">
            <span id="block-menu">
                @(await Html.RenderComponentAsync<ArtlicleList>(RenderMode.ServerPrerendered))
            </span>
        </div>
    </div>

    <div id="articles-category">
        @{ var categories = categoryService.getCategories(); }
        @if (categories.Count() > 0)
        {
            @foreach (var item in categories)
            {
                @(await Html.RenderComponentAsync<ArticlesparCategory>(RenderMode.ServerPrerendered, new { name = item.Name }))
            }
        }
    </div>

    @section scripts{
        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
        <script>
            $(document).scroll(function () {
                checkOffset();
            });

            function checkOffset() {
                if ($('#block-menu').offset().top + $('#block-menu').height()
                    >= $('#articles-category').offset().top - 5)
                    $('#block-menu').css({
                        'position': 'static',
                        'z-index': '10'
                    });
                if ($(document).scrollTop() + window.innerHeight < $('#articles-category').offset().top)
                    $('#block-menu').css('position', 'fixed'); // restore when you scroll up
            }
        </script>
    }